@namespace CuteAnimalFinder.Components
@using CuteAnimalFinder.Services
@inject ISources _sources

<PageTitle>CuteAnimalFinder</PageTitle>

@foreach (var img in _images)
{
    <div class="center">
            <img src=@img alt="" class="center"><br/>
    </div>
}
<a>@_text</a>
@code {
    [Parameter] public string? Search { get; set; }
    private string[] _images = {};
    private string _text = "Loading...";

    protected override async Task OnInitializedAsync()
    {
        _images = await _sources.GetLatestPictures(Search!);
        _text = _images.Length == 0 ? "Couldn't connect to Twitter" : "";
    }

}