@namespace CuteAnimalFinder.Components.PictureStream
@using CuteAnimalFinder.Services
@using CuteAnimalFinder.Models
@inject ISources _sources
@inject IPrediction _prediction

<PageTitle>CuteAnimalFinder</PageTitle>

@foreach (var img in _images)
{
    <img src=@img alt="" class="card"><br/>
}
<a>@_text</a>


@code {
    [Parameter] public Animal Search { get; set; }
    private string[] _images = {};
    private string _text = "Loading...";

   protected override async Task OnInitializedAsync()
   {
       _images = await _sources.GetLatestPictures(Search);
       _text = _images.Length == 0 ? "Couldn't connect to Twitter" : "";
       if (_images.Length == 0)
           return;
       _images = _prediction.FilterImages(Search, _images);
   }

}