@using CuteAnimalFinder.Services
@inherits LayoutComponentBase

<PageTitle>CuteAnimalFinder</PageTitle>

<div class="page">
    <NavMenu></NavMenu>
    <div class="spacer">&nbsp;</div>
    <div class="spacer">&nbsp;</div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
