@using CuteAnimalFinder.Services
@inject IJSRuntime _jsRuntime

<div class="@NavMenuCssClass fixed-top purple" @onclick="ToggleNavMenu">
    <div class="spacer">&nbsp;</div>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Cats
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dogs">
                <span class="oi oi-plus" aria-hidden="true"></span> Dogs
            </NavLink>
        </div>
    </nav>
</div>
<nav class="top-row ps-3 navbar navbar-dark fixed-top purple @_navBarScrollCssClass">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CuteAnimalFinder</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>



@code {
    private bool _collapseNavMenu = true;
    private string _navBarScrollCssClass = "scrolled-up";

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

    private int _lastScrollTop = 0;
    private DotNetObjectReference<NavMenu>? _dotNetHelper;

    protected override async Task OnInitializedAsync()
    {
        _dotNetHelper = DotNetObjectReference.Create(this);
        await _jsRuntime.InvokeAsync<Task>("onScrolled", _dotNetHelper);
    }

    [JSInvokable]
    public async Task OnScroll()
    {
        _collapseNavMenu = true;
        var scrollTop = await _jsRuntime.InvokeAsync<int>("getScrollY");
        if (scrollTop != _lastScrollTop)
            _navBarScrollCssClass = scrollTop < _lastScrollTop ? "scrolled-up" : "scrolled-down";
        //Console.WriteLine($"Packet sent at {DateTime.Now} with y {_lastScrollTop} and calc {_navBarScrollCssClass}");
        _lastScrollTop = scrollTop;
        StateHasChanged();
    }

    public void Dispose()
    {
        _dotNetHelper?.Dispose();
    }

}