@using CuteAnimalFinder.Components

<div class="fixed-top purple collapse" onclick="toggleNavBar()" id="navbar-inner">
    <div class="spacer">&nbsp;</div>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fas fa-cat" aria-hidden="true"></i> Cats
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dogs">
                <i class="fas fa-dog"></i> Dogs
            </NavLink>
        </div>
    </nav>
</div>
<nav class="top-row ps-3 navbar navbar-dark fixed-top purple" id="navbar">
    <div class="container-fluid">
        <div class="justify-content-start">
            <div class="d-flex flex-row">
                <a class="navbar-brand" href="">CuteAnimalFinder</a>
            </div>
        </div>
        <div class="justify-content-end">
            <div class="d-flex flex-row">
                <div class="navbar-brand">
                    <LatencyChecker></LatencyChecker>
                </div>
                <button title="Navigation menu" class="navbar-toggler" onclick="toggleNavBar()">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </div>
</nav>
<div class="spacer" id="end-of-nav-bar">&nbsp;</div>
