name: CI to Docker Hub
 
on:
 push:
   branch:
     main

jobs:
 
 build:
   runs-on: ubuntu-latest
   steps:
     - name: Checkout
       uses: actions/checkout@v2

     - name: Configure AWS credentials
       uses: aws-actions/configure-aws-credentials@v1
       with:
         aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
         aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
         aws-region: eu-west-2

     - name: Publish to Registry
       uses: elgohr/Publish-Docker-Github-Action@master
       with:
         name: rmurphy599/cutepredictor:latest
         username: ${{ secrets.DOCKER_USERNAME }}
         password: ${{ secrets.DOCKER_PASSWORD }}
         workdir: CutePredictionAPI